<header class="header">
  <div class="header_bar">
    <div class="header_title">
    Travel Diary
    </div>
    <div class="log_in">
    ログイン
    </div>
    <div class="user_sign_up">
    新規登録
    </div>
  </div>
</header>