<header class="header">
  <div class="header_bar">
    <div class="header_title">
    Travel Diary
    </div>
    <div class="header_list">
      <% if user_signed_in? %>
        <div class="sign_out">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'btn'%>
        </div>
      <% else %>
        <div class="sign_in">
        <%= link_to 'ログイン', new_user_session_path, class:'btn' %>
        </div>
      <% end %>
      <div class="sign_up">
      <%= link_to '新規登録', new_user_registration_path, class:'btn' %>
      </div>
    </div>
  </div>
</header>