.top_page{
  overflow: scroll;
  width: 100%;
}

/* home
--------------------------------------------------------*/
.intro-contents{
  height: 90vh;
  background-image:url("/images/toppage2.jpeg");
  background-blend-mode: soft-light;
  background-size:cover;
  text-align: center;
}

.intro-contents h1{
  font-size: 10rem;
  padding-top: 200px;
  font-family: 'Raleway', sans-serif;
  color: aliceblue;
}

.guest_btn{
  color:black;
  text-decoration: none;
}

button{
  font-size: 1rem;
  padding: 18px 18px;
  background:none;
  text-decoration: none;
  border-radius: 5px;
}

button:hover{
  background: white;
}


.post-contents{
  text-align: center;
  background-color: #f6f0cc;
  padding-bottom: 40px;
}

.post-contents p{
  padding-bottom: 30px;
  padding-top: 12px;
  font-size: 15px;
  font-family: serif;
}

.post{
  padding-top: 50px;
}


.post_btn{
  color: black;
  font-size: 20px;
  padding: 3px;
  text-decoration: none;
  text-align: center;
}

.explain-contents{
  background-color: #e1c0b6;
  height: 450px;
}

.explain-content{
  display: flex;
  justify-content: center;
}

.explain-contents h2{
  font-size: 50px;
  padding-top: 50px;
  font-family: serif;
  text-align: center;
}


.explain{
  height: 200px;
  width: 300px;
  margin: 30px 50px;
}

.explain p{
  font-size: 15px;
}

.service-icon{
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

h3{
  font-size: 25px;
}

h4{
  font-size: 50px;
  font-family: serif;
  padding-top: 50px;
}



/* 検索部分
--------------------------------------------------------*/


.search-form{
  text-align: center;
  padding-top: 20px;
}

/* 一覧表示部分
--------------------------------------------------------*/



.diary_contents{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 3%;
  
}

.diary_lists{
  display: flex;
  justify-content: center;
  text-decoration: none;
  flex-wrap: wrap;
}

.diary_list{
  margin: 70px;
  color: black;
  width: 320px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 6%;
  margin-bottom: 50px;
  gap: 40px;
}

.underline{
  text-decoration: none;
}


.image_content p{
  color: black;
}

.city_name{
  display: flex;
  justify-content: space-between;
}


.category_name{
  display: flex;
  justify-content: space-between;
  
}


.top_image{
  width: 100vw;
  height: 400px;
}


.image{
  width: 33vh;
  height: 33vh;
}

