.new-message{
  text-align: center;
  font-size: 20px;
  padding: 3px;
  border: solid 2px gray;
}


.form{
  font-size: 20px;
  padding: 50px;
  text-align: center;
}

.indispensable{
  color: red;
  font-size: 15px;
  padding-left: 15px;
}

.file-upload{
  margin-bottom: 20px;
}

.country-select-box{
  margin-bottom: 20px;
}

.city-name-input{
  margin-bottom: 20px;
}

.category-select-box{
  margin-bottom: 20px;
}

.recommendations-box{
  width: 500px;
  height: 150px; 
  margin: 20px;
}

.things-to-avoide-box{
  width: 500px;
  height: 100px;
}

.things-to-bring-box{
  width: 500px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}