.country-name{
  text-align: center;
  font-size: 30px;
}

.image-content{
  text-align: center;
}

.city-name{
  text-align: center;
  font-size: 20px;
}

.category-name{
  text-align: center;
  font-size: 20px;
}

.recommendations{
  text-align: center;
  font-size: 20px;
}

.things_to_avoide{
  text-align: center;
  font-size: 20px;
}

.things_to_bring{
  text-align: center;
  font-size: 20px;
}