.image-content{
  text-align: center;
  margin-top: 40px;
}

.user-page{
  text-align: center;
  border: solid 2px gray;
  font-size: 20px;
}

.table{
  margin-top: 20px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-table{
  width: 70%;
}

.detail-diary{
  width: 20%;
  background-color: lightblue;
  border: 1px solid black;
  font-size: 15px;
  text-align: center;
}

.detail-value{
  width: 80%;
  padding: 20px;
  font-size: 15px;
  border: solid 1px black;
  
}

